<div class="container">

  <form class="row g-3">
    <h2>Sign up</h2>
    <input type="hidden" name="authenticity_token" value="O2_9Wi_xWRpd56167j8pcciktRWoqbtKxddGp2yuZlJJF-FWUZFLS98hvGWE_K_1zls_WqArCb3v0effG4queg" autocomplete="off">
        <div class="col-12">
          <div class="mb-4 string required user_username">
          <label class="form-label string required" for="user_username">Username <abbr title="required">*</abbr></label>
          <input class="form-control string required" autocomplete="username" autofocus="autofocus" required="required" aria-required="true" type="text" name="user[username]" id="user_username"></div>
        </div>
        <div class="col-12">
          <div class="mb-4 text required user_address">
          <label class="form-label text required" for="user_address">Address <abbr title="required">*</abbr></label>
          <textarea class="form-control text required" autocomplete="address" autofocus="autofocus" required="required" aria-required="true" name="user[address]" id="user_address"></textarea></div>
        </div>
        <div class="col-12">
          <div class="mb-4 email required user_email">
          <label class="form-label email required" for="user_email">Email <abbr title="required">*</abbr></label>
          <input class="form-control string email required" autocomplete="email" autofocus="autofocus" required="required" aria-required="true" type="email" value="" name="user[email]" id="user_email"></div>
        </div>
        <div class="col-12">
          <div class="mb-4 password required user_password">
          <label class="form-label password required" for="user_password">Password <abbr title="required">*</abbr></label>
          <input class="form-control password required" autocomplete="new-password" required="required" aria-required="true" type="password" name="user[password]" id="user_password">
          <div class="form-text">6 characters minimum</div>
          </div>
        </div>
        <div class="col-12">
          <div class="mb-4 password required user_password_confirmation">
          <label class="form-label password required" for="user_password_confirmation">Password confirmation <abbr title="required">*</abbr></label>
          <input class="form-control password required" autocomplete="new-password" required="required" aria-required="true" type="password" name="user[password_confirmation]" id="user_password_confirmation">
          </div>
        </div>

        <br>
          <%= render "devise/shared/links" %>
        <br>

        <div class="col-12">
          <input type="submit" name="commit" value="Sign up" class="btn btn-primary" data-disable-with="Sign up">
        </div>
  </form>
</div>
