<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rooski</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Rooski</h1>
    <p>Rooski is your go-to community for cheap ski rentals in your area</p>
      <div class="input-group">
        <div class="form-outline">
        <input type="search" id="form1" class="form-control" />
        <label class="form-label" for="form1">Search</label>
        </div>
  <button type="button" class="btn btn-primary">
    <i class="fas fa-search"></i>
  </button>
</div>
  </div>
  <h3>This is some text.</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Ski Alpin</h2>
    </div>
    <div class="col-sm">
      <h2>Ski Rando</h2>
    </div>
    <div class="col-sm">
      <h2>Ski de fond</h2>
    </div>
  </div>
</div>
</body>
</html>
