<body>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1582746652442-5ee61e88b27d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1796&q=80); background-size: 100%);">
  <div class="container">
  <h1 style="font-size: 120px">Rooski</h1>
  <br>
  <br>
    <p>Loue tes skis dans ta région</p>
          <%= form_tag skis_path, class:"d-flex", method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find your skis"
            %>
            <%= submit_tag "Rechercher", class: "btn btn-primary" %>
          <% end %>
  </div>
</div>

<div class="container justify-content-center">
  <h3>Il a neigé toute la nuit, le ciel est clair.</h3>
  <h3>Rencontre des passionés de ski dans ta région et loue leur matériel.</h3>
</div>

    <div>
      <h2 class="d-flex justify-content-center mt-4 pb-4 bg-yellow"></h2>
    </div>
    <div class="container d-flex justify-content-between">
      <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1551698618-1dfe5d97d256?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Ski alpin</h3>
            <p>Lattes de descente pour prendre du plaisir sur les pistes, pour toute la famille.</p>
            <a href="/skis" class="btn btn-primary">Louer</a>
          </div>
        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1615897935059-d3ed4a4aef84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Ski de fond</h3>
              <p>Skis nordiques pour tester votre endurance sur les chemins dédiés.</p>
            <a href="/skis" class="btn btn-primary">Louer</a>
          </div>
        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1643701846261-a96ab2da7188?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Ski rando</h3>
            <p>Sortez des sentiers battus pour aller explorer les plus hauts sommets.</p>
            <a href="/skis" class="btn btn-primary">Louer</a>
          </div>
        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1625154869776-100eba31abbb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=891&q=80" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Snowboard</h3>
            <p>Ridez sans limite, sur piste ou dans la poudreuse. A vous les tricks!</p>
            <a href="/skis" class="btn btn-primary">Louer</a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
