<div class="container">
  <div class="row d-flex justify-content-between">

    <div class="col">
      <h2>Mes Skis</h2>
    </div>

  <div class="row d-flex justify-content-between">
    <div class="cards">
      <% @skis.each do |ski| %>
        <%= link_to ski_path(ski) do %>
        <div class="card-category mt-5 mx-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path ski.photo.key, height: 600, crop: :fill %>')">
        <%= ski.brand %>
        <%= link_to "supprimer",
            ski_path(ski),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
