.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category a:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category a {
  text-decoration: none;
}

.brand-on-card {
  position: absolute;
  justify-content: center;
  text-align: center;
}
.price-on-card {
  position: absolute;
  top: 130px;
  left: 100px;
  padding: 5px;
  text-align: right;
  font-weight: lighter;
}
