.navbar-lewagon {
  justify-content: space-around;
  background: white;
  border: 1px solid transparent;
  position:sticky;
  top: 1px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-family: roboto;
}

.navbar-lewagon a {
  text-decoration: none;
}
