.navbar-lewagon {
  justify-content: space-around;
  background: white;
  background-color: transparent;
  border: 1px solid transparent;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
